<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Records Portal</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="main">
        <label class="heading">Academic Records</label>
        <label class="smallheading">I am a</label>
        <button (click)="onStaff()">Staff</button>
        <button (click)="onStudent()">Student</button>
    </div>
</body>
</html>